@import '#/app/styles/configs/variables.scss';

.secrets {
	background-color: $dark-100;
	padding: 32px;
	overflow: scroll;
	width: 100%;

	&__container {
		height: 100%;
		width: 100%;
	}

	&__actions, .actions {
		display: grid;
		margin-bottom: 8px;
		grid-template-columns: 1fr 1fr 1fr 40px;

		&__item, .item {
			color: $dark-20;
			border: 0.5px solid $dark-40;
			padding: 12px 16px;
			background: $dark-80;
			margin-right: 8px;
			cursor: pointer;
			border-radius: 4px;

			&--active {
				border: 0.5px solid white;
			}

			&:last-child {
				margin-right: 0;
				padding: 0;
				margin-left: auto;
				display: grid;
				place-items: center;
				width: 40px;
			}

			&__icon {
				height: 16px;
			}
            
		}

	}

	&__head, .head {
		border: 0.5px solid $dark-40;
		padding: 12px 16px;
		display: grid;
		grid-template-columns: 240px auto;
		background-color: $dark-80;
		margin-bottom: 8px;
		border-radius: 4px;

		&__item {
			color: $dark-20;
		}

	}

	&__list, .list {
        
		&__item, .item {
			background-color: $dark-80;
			display: grid;
			grid-template-columns: 240px auto 40px 40px;
			grid-template-rows: 40px;
			grid-gap: 8px;
			margin-bottom: 8px;
            
			&__name,
			&__value,
			&__button {
				padding: 12px 16px;
				background-color: $dark-80;
				border: 0.5px solid $dark-40;
				color: $dark-40;
				border-radius: 4px;

				&:focus {
					background-color: $dark-60;
					color: $dark-20;
				}

			}

			&__name {
				text-transform: uppercase
			}

			&__value {
				letter-spacing: 2px;
			}

			&__button, .button {
				display: grid;
				place-items: center;
				padding: 0;
				cursor: pointer;
                
				&__icon {
					width: 16px;
					height: 16px;
				}
                
			}

		}

	}

	&__clipboard, .clipboard {
		border: 0.5px solid $dark-40;
		padding: 12px 16px;
		background-color: $dark-80;
		margin-bottom: 8px;
		border-radius: 4px;

		&__label {
			text-align: center;
			color: $dark-20;
			cursor: pointer;
			width: 100%;
		}

	}

	&__add, .add {
		background-color: $dark-80;
		display: grid;
		grid-template-columns: 240px auto 40px;
		grid-template-rows: 40px;
		grid-gap: 8px;
		margin-bottom: 8px;
	
		&__name,
		&__value,
		&__button {
			padding: 12px 16px;
			background-color: $dark-80;
			border: 0.5px solid $dark-40;
			color: $dark-40;
			border-radius: 4px;

			&:focus {
				background-color: $dark-60;
				color: $dark-20;
			}
		}

		&__name {
			text-transform: uppercase
		}

		&__value {
			letter-spacing: 2px;
		}

		&__button, .button {
			display: grid;
			place-items: center;
			padding: 0;
			cursor: pointer;
			
			&__icon {
				width: 16px;
				height: 16px;
			}
			
		}

		&--error {

			& .add__name,  
			& .add__value  {
				color: $error-100;
				border: 1px solid $error-100;
			}

		}

	}

}